body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  height: 100vh;
  place-items: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5em;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  text-transform: uppercase;
  background-color: #FF0080;
  color: white;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  line-height: normal;
}

.instructions {
  padding: 0;
  margin: 0;
  padding-left: 3em;
  padding-right: 3em;
  border: black 1px solid;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  margin-top: 0;
  padding-top: 0;
}

button {
  display: inline;
  border: none;
  background-color: #FF0080;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.7em;
  font-family: 'Roboto Mono', monospace;
  box-shadow: 10px 5px 7px gray;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin-top: 0.5em;
}

button:hover {
  color: black;
}
